body {
  background-color: #282c34;
  text-align: center;
  color: white;
  font-size: 18px;
}

hr{
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#LightNavbar{
  min-height: 10vh;
}

ul#footermenu {
  min-height: 5vh;
  display: flex;
  justify-content: space-between; 
  list-style-type: none;
}